@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.contiener {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px 40px;
}
.img1{
  width: 280px;
  height: 270px;
}
.flower:hover{
  border: 3px solid green;
  box-shadow: 1px 1px 1px  gray;
}
.read:hover{
  color:  #46a358;
}